@using Architecture.Web.Code

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()

<br />

<div data-bind="template: {name: 'criteriaWithGridTemplate'}"></div>

<div data-bind="modal: { visible: confirmationVisible, body: { name: 'modalTemplate', data: $root.confirmingItem }, header: { data: { label: 'Confirm' } }, footer: { data: { action: $root.deleteOrder, closeLabel: 'No', primaryLabel: 'Yes' } }}"></div>

@Html.Partial("_KoGridCommon")

<script id="criteriaTemplate" type="text/html">
    <div class="form-inline">
        <div class="form-group">
            <label>Code:</label>
            <input type="text" data-bind="value: code" class="form-control">
        </div>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" data-bind="value: name" class="form-control">
        </div>
    </div>
</script>

<script id="deleteProduct" type="text/html">
    <!-- ko if: canDelete -->
    <button data-bind="click: $parents[2].showConfirmation" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete product">Delete</button>
    <!-- /ko -->
</script>


<script type="text/html" id="modalTemplate">
    <!-- ko if:  $root.confirmationVisible -->
    Are you sure to delete product with Id =
    <span data-bind="text: $root.confirmingItem.id"></span>?
    <!-- /ko -->
</script>

@section scripts {
    @Scripts.Render(@ScriptHelper.GetViewSpecificScripts(ViewContext))
}


