<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="bootstrap" version="3.3.2" targetFramework="net451" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net451" />
  <package id="Glimpse" version="1.8.6" targetFramework="net451" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net451" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net451" />
  <package id="Glimpse.Log4Net" version="1.0.0" targetFramework="net451" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net451" />
  <package id="jQuery" version="2.1.3" targetFramework="net451" />
  <package id="jQuery.BlockUI" version="2.70" targetFramework="net451" />
  <package id="jquery.blockUI.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.1.4" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net451" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.6.7" targetFramework="net451" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net451" />
  <package id="Knockstrap" version="1.2.1" targetFramework="net451" />
  <package id="knockstrap.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net451" />
  <package id="linq.js" version="2.2.0.2" targetFramework="net451" />
  <package id="linq.TypeScript.DefinitelyTyped" version="0.1.8" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="Moment.js" version="2.9.0" targetFramework="net451" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="Ninject.MVC5" version="3.2.1.0" targetFramework="net451" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net451" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net451" />
  <package id="Ninject.Web.WebApi" version="3.2.4.0" targetFramework="net451" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.2.4.0" targetFramework="net451" />
  <package id="numeral" version="1.5.3" targetFramework="net451" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="qunit" version="1.0.0" targetFramework="net451" />
  <package id="qunit.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net451" />
  <package id="Respond" version="1.4.2" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.SystemWeb" version="1.1.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.WebApi" version="2.0.1" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net451" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
</packages>