<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Architecture;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="log4net.Config" />
  </appSettings>
</configuration>